@import url("https://fonts.googleapis.com/css?family=Marck+Script&display=swap");

.animated {
    -webkit-animation-duration: 700ms;
    animation-duration: 700ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.toy-balls-container__full-toy--spin-animation {
    transform-origin: 50% 1px;
    animation: spin 1500ms;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    10% {
        transform: rotate(-9deg);
    }
    20% {
        transform: rotate(6deg);
    }
    40% {
        transform: rotate(-6deg);
    }
    60% {
        transform: rotate(2deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.toy-balls-container__full-toy--short-spin-animation {
    transform-origin: 50% 1px;
    animation: short-spin 1200ms;
    animation-timing-function: ease-in-out;
}

@keyframes short-spin {
    10% {
        transform: rotate(-3deg);
    }
    20% {
        transform: rotate(2deg);
    }
    40% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(0.3deg);
    }
    80% {
        transform: rotate(-0.3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.toy-balls-container {
    list-style: none;
    width: calc(var(--toy-balls-base-size));
    height: calc(var(--toy-balls-base-size) / 2.7);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.toy-balls-container__toy-thread {
    background: #dadada;
    background: -webkit-gradient(linear, left bottom, right top, from(#a2a2a2), color-stop(100%, rgba(255, 255, 255, 0)));
    width: calc(var(--toy-balls-base-size) / 300);
    display: block;
    margin-left: calc(var(--toy-balls-base-size) / 250);
}

.toy-balls-container__toy-thread--first {
    height: calc(var(--toy-balls-base-size) / 10);
}

.toy-balls-container__toy-thread--second {
    height: calc(var(--toy-balls-base-size) / 13)
}

.toy-balls-container__toy-thread--third {
    height: calc(var(--toy-balls-base-size) / 16)
}

.toy-balls-container__toy-thread--fourth {
    height: calc(var(--toy-balls-base-size) / 12)
}

.toy-balls-container__full-toy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toy-balls-container__ball {
    border-radius: calc(var(--toy-balls-base-size) / 6);
    box-shadow: 0 0 4px #818180;
    border: 1px solid rgba(0, 0, 0, 0.6);
    position: relative;
    height: calc(var(--toy-balls-base-size) / 6);
    width: calc(var(--toy-balls-base-size) / 6);
}

.toy-balls-container__ball:before {
    content: "";
    background: #fff;
    background: -webkit-gradient(linear, left center, right center, from(#fff), color-stop(25%, #9c9c9c), color-stop(50%, #fff), color-stop(75%, #9c9c9c));
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #dadada;
    height: calc(var(--toy-balls-base-size) / 60);
    width: calc(var(--toy-balls-base-size) / 30);
    position: absolute;
    left: 50%;
    top: calc(var(--toy-balls-base-size-mines) / 50);
    margin-left: calc(var(--toy-balls-base-size-mines) / 60);
}

.toy-balls-container__ball--day {
    background: radial-gradient(circle at 33% 32%, var(--first-ball-color-reflect) 4%, var(--first-ball-color) 45%, var(--first-ball-color-shadow) 75%);
}

.toy-balls-container__ball--hour {
    background: radial-gradient(circle at 33% 32%, var(--second-ball-color-reflect) 4%, var(--second-ball-color) 45%, var(--second-ball-color-shadow) 75%);
}

.toy-balls-container__ball--minute {
    background: radial-gradient(circle at 33% 32%, var(--thrid-ball-color-reflect) 4%, var(--thrid-ball-color) 45%, var(--thrid-ball-color-shadow) 75%);
}

.toy-balls-container__ball--second {
    background: radial-gradient(circle at 33% 32%, var(--fourth-ball-color-reflect) 4%, var(--fourth-ball-color) 45%, var(--fourth-ball-color-shadow) 75%);
}

.count-down-time-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--toy-balls-base-size) / 10);
    //-webkit-text-stroke: 1px black;
    text-shadow: 0 0 3px #d3cbc3;
}

.count-down-time {
    font-family: Cambria, monospace;
    color: #fefffe;
    margin-top: calc(var(--toy-balls-base-size) / 40);
}

.toy-balls-container__time-description {
    font-family: 'Marck Script', cursive;
    font-size: calc(var(--toy-balls-base-size) / 13);
    color: white;
    text-shadow: 0 0 3px #0b0706;
    text-align: center;
}

.toy-balls-container__head {
    font-family: 'Marck Script', cursive;
    font-size: calc(var(--toy-balls-base-size) / 10.5);
    color: white;
    -webkit-text-stroke: 1px #55514c;
    text-shadow: 1px 1px 2px #2c2726;
    word-spacing: calc(var(--toy-balls-base-size-mines) / 60);
    padding-left: 3px;
    height: calc(var(--toy-balls-base-size) / 5);
    position: relative;
}

.toy-balls-container__head-text {
    position: absolute;
    top: calc(var(--toy-balls-base-size)/30);
    z-index: 3;
}

.toy-balls-main-node {
    border-radius: 3px;
    box-shadow: 0 0 11px 5px rgba(255, 255, 255, .7);
    --background-color-base-r: 8;
    --background-color-base-g: 41;
    --background-color-base-b: 32;
    --background-color-top: #2d2d2d;
    --background-color-bottom: #f8f8f8;
    background: var(--background-color-base);
    background: linear-gradient(
            -7deg,
            rgba(var(--background-color-base-r), var(--background-color-base-g), var(--background-color-base-b), 1) 0%,
            rgba(var(--background-color-base-r), var(--background-color-base-g), var(--background-color-base-b), 0.5) 80%,
            var(--background-color-bottom) 100%
    )
}

/**
* Default styles
*/
.toy-balls-container-wrapper {
    --first-ball-color: #850d0d;
    --first-ball-color-reflect: #f9d0b9;
    --first-ball-color-shadow: #3a0505;
    --second-ball-color: #09226f;
    --second-ball-color-reflect: #c4dbee;
    --second-ball-color-shadow: #0a1d40;
    --thrid-ball-color: #664d17;
    --thrid-ball-color-reflect: #e9e09c;
    --thrid-ball-color-shadow: #34250d;
    --fourth-ball-color: #165608;
    --fourth-ball-color-reflect: #d8ecbc;
    --fourth-ball-color-shadow: #092105;
    --toy-balls-base-size: 500px;
    --toy-balls-base-size-mines: -500px;
    --toy-size: 5;
}

.spruce-branch-wrapper {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    top: calc(var(--toy-balls-base-size-mines) / 16);
    left: calc(var(--toy-balls-base-size) / 100);
}
